<div fxLayout="row" fxLayoutAlign="space-around center">
  <h2>Gestion de Articulos</h2>
  <button mat-icon-button (click)="imprimirItem()">
    <mat-icon>print</mat-icon>
  </button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="precio">
    <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.precio | currency}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button color="primary" (click)="editar(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="eliminar(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="itemsPage" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>


<button mat-fab color="accent" style="float: right; margin-right: 25px;" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>