<h1 mat-dialog-title *ngIf="!usuario.id">Nuevo Usuario</h1>
<h1 mat-dialog-title *ngIf="usuario.id">Editar Usuario</h1>

<form [formGroup]="usuarioForm">
  <div mat-dialog-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre usuario" formControlName="nombres" required>
        <mat-error *ngIf="usuarioForm.get('nombres').hasError('required')">Nombre es requerido</mat-error>
        <mat-error *ngIf="usuarioForm.get('nombres').hasError('minlength')">Nombre requiere minimo 5 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Apellidos usuario" formControlName="apellidos" required>
        <mat-error *ngIf="usuarioForm.get('apellidos').hasError('required')">Nombre es requerido</mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45">
          <input matInput type="email" placeholder="Correo usuario" formControlName="email" required>
          <mat-error *ngIf="usuarioForm.get('email').hasError('required')">Email  requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput type="text" placeholder="Cedula" formControlName="cedula" required maxlength="10">
          <mat-error *ngIf="usuarioForm.get('cedula').hasError('required')">NUmero de cédula requerido</mat-error>
          <mat-error *ngIf="usuarioForm.get('cedula').hasError('maxlength')">Cédula requiere 10 numeros</mat-error>
        </mat-form-field>        
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="45">
              <input matInput type="password" placeholder="Password" formControlName="password" required maxlength="10">
              <mat-error *ngIf="usuarioForm.get('password').hasError('required')">Password es requerido</mat-error>
          </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45">
          <input matInput type="text" placeholder="Teléfono usuario" formControlName="telefono" required maxlength="10">
          <mat-error *ngIf="usuarioForm.get('telefono').hasError('required')">Teléfono es requerido</mat-error>
          <mat-error *ngIf="usuarioForm.get('telefono').hasError('maxlength')">Teléfono requiere 10 numeros</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput type="text" placeholder="Dirección usuario" formControlName="direccion" required>
          <mat-error *ngIf="usuarioForm.get('direccion').hasError('required')">Dirección  requerida</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45">
          <mat-select placeholder="Rol" formControlName="rol" required>
            <mat-option *ngFor="let rol of roles" [value]="rol.value">
              {{rol.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="usuarioForm.get('rol').hasError('required')">Rol es requerido</mat-error>
        </mat-form-field>
    </div>

  </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button color="accent" [disabled]="usuarioForm.invalid" (click)=guardar()>
      <span *ngIf="!usuario.id">Crear</span>
      <span *ngIf="usuario.id">Editar</span>
    </button>
    <button mat-button color="primary" mat-dialog-close>Cancelar</button>
  </div>
</form>